{%extends 'all-images/base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
{{ block.super }}
{% bootstrap_css %}
 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="{% static 'index.css'%}">
{% endblock %}

{% block content %}

<div class="container">
  
  <div class="view view-first">
    <div class="row">
      {%for image in images %}
          <div class =" col-md-4">
        <img src="{{image.image_path.url}}" class="img-thumbnail" alt="Image" style= "width: 250px ;height: 400px">
        <p></p>
    
        <div class="mask">
      
            <h2><a href="{%url 'description' image.id%}" class="info">View Image</a></h2>
        
          
       
          <div style="padding-top:10px;">
            <input class="form-control input-lg" type="text" style="width:60%; margin-left: 20%;"
                value="https://gallax.herokuapp.com/{{image.image_path}}" id="{{image.id}}-url">
            <div style="padding-top:10px;">
                <button class="btn btn-primary" onclick="imageurl('{{image.id}}-url');">Copy Link</button><br>
            </div>
        </div>
        <script>
            function imageurl(element) {
                var image = document.getElementById(element);
                image.select();
                document.execCommand('copy');
                alert("Copied the link of image:" + image.value);
            }
        </script>
        </div>
      </divclass="row">
    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There are no new items</h2>

    </div>
  </div>
  {% endfor %}
</div>
</div>


{% endblock %}