<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
</head>
<body>

<div class="container-fluid" style="background-image:url(./static/lkjhg.jpeg); height:500px;background-position:center;text-align:center;">
<form class="navbar-form" role="search" action="{% url 'search_category' %}">
   

          <div class="container" style="padding:20px;">
          <center>  <h1 style="color: #1a1a3bf5; font-family:'Nanum Brush Script', cursive; font-size: 100px" >Galla.me</h1>
            <h3 style="color: #1a1a3bf5;font-family: 'Sriracha', cursive; font-size: 55px ">An app that allows you to view beautiful and free images <br>
            Search for images based on categories</h2></center>
          <br>
          <div class="input-group" style="margin-left: 400px;">

           <input type="text"  class="form-control" placeholder="Search by category" name="category" >
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>

</body>
</html>
